{% extends "templates/main.html" %}

{% block contenido %}
<div id="header">
    <h1>Petición procesada correctamente</h1>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th style="padding: 1em;" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU05PPCaZw2J2YyG3scWnNzHlGQZC0BfKNRc-GPGFklsK4RBA6SQ"></th>
                <th style="padding: 1em; text-align: left; padding-left: 5em;" colspan="2">
                    Proyecto: Sistema Ambientación Base de Clientes
                    <br>
                    Desarrollador: DevSecOps
                    <br>
                    Ambiente: {{ambiente}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" style="padding: 1em; text-align: center;">
                    <table>
                        <tbody>
                            <tr>
                                <td>En unos instantes se le notificara a la persona tu respuesta</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="footer">
        Este correo se generó automáticamente por el sistema ABC, favor de no responder
</div>
{% endblock %}